#brand {
  font-weight: 100;
}
.hero {
	background: url(../img/writing-system-hero.png) no-repeat center center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 600px;
  	height: 100vh;
}
.about {
	background: url(../img/writer-1.png) no-repeat center center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 600px;
  	height: 50vh;
}
.pricing-hero {
  background: url(../img/writer-1.png) no-repeat center center !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    height: 50vh;
  padding-top: 10em;
}
.pricing-cta {
  background-color: #222222 !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100px;
    height: 15vh;
  padding-top: 1em;
  text-align: center;
  color: #ffffff;
}

#spacer {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.resources-grid {
	background: url(../img/grid-box.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 500px;
  	height: 70vh;
  	padding-top: 12em;
  	border-bottom: 1px solid #dfdfdf;
}
.resources-vertically-lined {
	background: url(../img/vertically-lined.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 500px;
  	height: 70vh;
  	padding-top: 12em;
  	border-bottom: 1px solid #dfdfdf;
}
.resources-horizontally-lined {
	background: url(../img/horizontally-lined.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 500px;
  	height: 70vh;
  	padding-top: 12em;
  	border-bottom: 1px solid #dfdfdf;
}
.resources-graph {
	background: url(../img/graph-paper.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 500px;
  	height: 70vh;
  	padding-top: 12em;
  	border-bottom: 1px solid #dfdfdf;
}
.resources-upper-case {
	background: url(../img/upper-case.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 500px;
  	height: 70vh;
  	padding-top: 12em;
  	border-bottom: 1px solid #dfdfdf;
}

.resources-lower-case {
  background: url(../img/lower-case.png) no-repeat top center !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: 70vh;
    padding-top: 12em;
    border-bottom: 1px solid #dfdfdf;
}
.resources-instructions {
  background: url(../img/instructions.png) no-repeat top center !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: 70vh;
    padding-top: 12em;
    border-bottom: 1px solid #dfdfdf;
}
.success {
	background: url(../img/writer-success.png) no-repeat top center !important; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	min-height: 600px;
  	height: 90vh;
}
.download-cta {
  background-color: #b4e849!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    height: 30vh;
    padding-top: 5em;
}
.resources-header {
  background-color: #bddfb3!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    height: 30vh;
    padding-top: 5em;
}
#cta {
  margin-top: 2em !important;
}
.hero-text {
	color: #ffffff !important;
	line-height: 1.6em;
	font-size: 1.6em;
	font-weight: 100;
}
.learn-header {
	color: #222222 !important;
	line-height: 1.6em;
	font-size: 1.6em;
	font-weight: 100;
	padding-top: 4em;
}
.pricing-header {
  color: #222222 !important;
  line-height: 1.6em;
  font-size: 1.6em;
  font-weight: 100;
  padding-top: 4em;
}

.about {
	padding-top: 14em;
}
.success {
	background-color: #00cc99;
}
.img-center {margin:0 auto;}

/*----- BUTTON STYLES -----*/

.main-cta {
	background-color: #45BF55 !important;
}
.helium-buy-now {
	background-color: #1bbf9c !important;
}
.success {
	padding-top: 27em;
	text-align: left;
}
.centered {
  text-align: center;
}

/*---- LINK STYLES -----*/

#click, #click:link, #click:visited {
  color: #cc0a3d;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
  transition: color 0.4s, background-color 0.4s, border 0.4s; }

#click:hover, #click:focus {
  color: #af002d;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }

#click:active {
  color: #820022;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }